body {
    background-color: #fff;
    
}

body h3 {
    font-size: 25pt;
    margin-bottom: 0px;
    text-align: center;
}

#menu {
    margin-bottom: 1px;
    text-align: center;
}

body nav a {
    text-decoration: none;
    color: white;
}

#menu a {
    text-decoration: none;
}

body h2 {
    text-align: center;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    background-color: rgb(15, 113, 15);
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 8px;
}

#menu ul li a:hover {
    cursor: pointer;
    border-bottom: 2px solid #F9FAFA;
    color: black;
}

div {
    margin-top:10px;
    margin-bottom:80px;
   
}

table {
    
    margin:0 auto;
    
}

 th{
 
     
   
}

footer {
    margin-bottom: 5px;
}

footer p {
    text-align: center;
    background-color: rgb(157, 206, 157, 0.4);
    padding: 10px;
    margin: 10px 50px;
}

footer img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}